/* Estils menus */
div.menu {
    margin-top: 25px;
    height: 50px;
}

div.borde-menu {
    text-align: center;
    width: 30%;
    border-style: solid;
    border-width: 2px;
    margin: auto;
}

div.borde-menu a {
    margin: auto;
    margin-left: auto;
}

/* Pagina HOME */
div.imatge {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
}

div.imatge img {
    display: block;
    margin: auto;
    width: 40%;
}

div.linea1 {
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
}

div.bloc1 {
    width: 35%;
    height: 100%;
    float: left;
    text-align: right;
    margin-right: 5%;
}
div.bloc1 p {
    color: rgb(56, 38, 38);
    width: 40%;
}

div.bloc2 {
    width: 50%;
    height: 100%;
    float: right;
    padding-right: 10%;
}

div.linea2 {
    width: 100%;
}

div.bloc3 {
    width: 35%;
    height: 100%;
    float: left;
    text-align: right;
    margin-right: 5%;
}


div.bloc4 {
    width: 60%;
    float: right;
}

div.blocpare {
    height: 300px;
}

/* SECCIO "TRAILER" */
div.video {
    text-align: center;
    height: 500px;
    padding-bottom: 25px;
}

iframe {
    height: 100%;
    width: 60%;
}


/* SECCIO "ON VEURELA?" */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
  }

table {
    width: 70%;
    margin-bottom: 40px;
}

div.blocnp {
    width: 80%;
    height: 300px;
}

div.columnp {
    width: 50%;
    height: 100%;
    float: left;
}

img.netprime {
    width: 50%;
    display:block;
    margin:auto;  
}

/* PAGINA PERSONATJES */
div.columperso {
    width: 50%;
    float: left;
}

img.mark {
    width: 20%;
    display: block;
    margin: auto;
}

/* PAGINA INFO_ADICIONAL */


/* GENERALS */
h1.titol {
    text-align: center;
}

div.centrardiv {
    display: flex;
    justify-content: center;
}